{
"selector": ".sn-richtext textarea",
"height": 500,
"theme": "modern",
"plugins": [
"advlist,autolink,autosave,link,image,lists,charmap,print,preview,hr,anchor,pagebreak",
"searchreplace,wordcount,visualblocks,visualchars,code,fullscreen,insertdatetime,media,nonbreaking",
"table,contextmenu,directionality,emoticons,template,textcolor,paste,fullpage,textcolor,colorpicker,textpattern, sncontent, sncontentpicker"
],
"toolbar1": "fullscreen newdocument | snimage image sncontent | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
"toolbar2": "cut copy paste pastetext | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor code | insertdatetime preview | forecolor backcolor",
"toolbar3": "table | hr removeformat | subscript superscript | charmap emoticons media | print | ltr rtl",
"toolbar4": "visualchars visualblocks nonbreaking template pagebreak",
"image_advtab": true,
"menubar": false,
"toolbar_items_size": "small",
"paste_as_text": true,
"content_css": "/Root/Global/styles/RichText.css"
}